<div class="clearfix" id="services">
</div>

     <section class="center">
        <h2 class="title-center">Servicios</h2>
        <div class="services" >
          
            <div class="service" *ngFor="let servicio of servicios">
                  <div class="img-service">
                    <img [src]="servicio.img" alt="servicio.nombre" loading="lazy"/>
                  </div>  
                  <div>
                    <h3>{{servicio.nombre}}</h3>
                  </div>      
                  <div class="text-center mb-1">
                    <a routerLink="/servicio/{{servicio.id}}" class="btn btn-warning text-light">Saber más</a>
                  </div>
                  
            </div>

     
        </div>
     </section>
