


 <div class="aboutUs-img">
    <img src="assets/img/service.png" alt="">
</div>

<div class="clearfix" id="aboutUs">

</div>

    <main class="center">
        <h2 class="title-center">Sobre nosotros</h2>
        <div class="aboutUs">  
            <div class="imagen">
                    <img src="assets/img/logo.jpg" alt="">
            </div> 
                <div class="info mt-5"> 
                    <p>
                    Somos una organización sin fines de lucro, dedicada a promover el bienestar de los <b>Animales</b>, la tenencia responsable, mediante la realizacion de Campañas a bajo costo, con el propósito
                    de responder a las necesidades y mejorar los niveles de reprodución de animales en abandono.
                    </p>
                    <p>
                    <b>Castraciones a bajo  costo en Nicoya</b> está centrado a incertivar la castración para generar cambios profundos
                    sobre una relación que tiene implicaiones no solo sobre en el bienestar Animales si no además  en el de los seres humanos.
                    </p>
                    <p>
                        Por ello aclaramos que no somos  una organización para refugio animales, sino más bien colaboramosy ayudamos a difundir la tenencia responsable,
                        las catraciones y adopción de animales en codición de calle.
                    </p>
                
                </div>
        </div>
    </main>  