
   <div class="clearfix"></div>
   <section class="center notice"  id="actividades">
    
     <div class="board">
        
         <div class="info-board" *ngFor="let actividad of actividades, let i=index">
            <div>
                <h2>{{actividad.nombre}}</h2>
            </div> 
            <div class="info-actividad"> 
                <div class="place">
                    <p>Lugar:</p>
                   <p class="intro">{{actividad.lugar}}</p>
                </div>
                <div class="date">
                    <p >Fecha:{{actividad.fecha |date:'dd/MM/yy'}}</p> 
                </div>
            </div>
        
            
         </div>
         <div>
            <a href="https://api.whatsapp.com/send?phone=50660167728." target="_blank" class="btn btn-primary btn-bg">
              Solicita un campo
            </a>
        </div>
       
     </div>
    
 </section>
