<header>
    <div class="center-header">
        <div class="barra">
            <a href="/"><h1>Aban Nicoya</h1></a>
            <div class="movil-menu"  (click)="funcion1()">
               
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <line x1="4" y1="6" x2="20" y2="6" />
                    <line x1="4" y1="12" x2="20" y2="12" />
                    <line x1="4" y1="18" x2="20" y2="18" />
                  </svg>
            </div>
        </div>

     
            <nav class="navegacion" (click)="funcion2()">
                <a href="#aboutUs">Sobre Nosotros</a>
                <a href="#services">Servicios</a>
                <a href="#actividades">Proximos eventos</a>
                <a href="#notice">Noticias</a>
                <a href="#contact">Contacto</a>
                <a routerLink="/galeria">Galería</a>
            </nav>
      
    </div>
</header>

